@using PaginaProyecto.Models
@model Evento
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_MiLayoutLogueado.cshtml";
}
<div class="container-fluid">
    @if (ViewBag.NoHayEventos == true)
    {
        <h3 class="col-xs-9 col-md-9" style="text-align:center; margin-top:10%;">No hay eventos para mostrar</h3>
        <a href="@Url.Action("AgregarEvento")"><span class="glyphicon glyphicon-plus" aria-hidden="true" style=""></span></a>
    }
    else
    {
        <h3 class="" style="text-align:center; margin-top:10%;">Mis Eventos</h3>
        <a href="@Url.Action("AgregarEvento")"><span class="glyphicon glyphicon-plus" aria-hidden="true" style=""></span></a>
    }
</div>
@{
    if (ViewBag.NoHayEventos == false)
    {
        List<Evento> listaEventos = ViewBag.ListaEventos;
        foreach (Evento oEvento in listaEventos)
        {
            <div class="jumbotron  col-lg-4 col-md-6" style="text-align: center; margin-left: 10%">
                <img src="@Url.Content("~/Content/Eventos/")@oEvento.ImagenString" alt="foto" class="img-thumbnail" />
                <h5>@oEvento.NombreEvento</h5>
                @Html.ActionLink("Ver más", "UnEvento", "Evento", new { idEvento = oEvento.EventoID }, null)
            </div>
            <div col-md-2></div>
        }
    }
}