@using PaginaProyecto.Models
@model PaginaProyecto.Models.Evento
@{
    ViewBag.Title = "ModificarEvento";
    Layout = "~/Views/Shared/_MiLayoutLogueado.cshtml";
    Evento unEvento = ViewBag.unEvento;
}

<div class="container-fluid row">
    <h2 class="col-md-12" style="padding:20px;">Modificar Evento</h2>
</div>
<div class="container col-sm-12 col-md-push-1 col-md-10">
    @using (Html.BeginForm("ModificarEvento", "Evento", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal Container", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.Hidden("id", unEvento.EventoID)
            <div class="form-group">
                @Html.LabelFor(x => x.Descripcion, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Descripcion, new {@Value = @unEvento.Descripcion, @class = "form-control" })
                </div>
            </div>
            <!--Falta que sepa si ya hay una foto-->
            <div class="form-group">
                @Html.LabelFor(x => x.Imagen, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Imagen, new { @Value = @unEvento.Imagen, @class = "form-control", type = "file" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Caambiar Evento" />
                </div>
            </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}




